body{
    background-color: #e8cec9;
    font-family: "Montserrat","Segoe UI","Helvetica Neue", Arial, sans-serif;
}

h4 {
    color: maroon;
}
hr{
    color: #e8cec9;
}
.container{
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
}

#logo{
    color: maroon;
}
/* styling for state dropdown */
.ui-autocomplete {
    padding: 0;
    list-style: none;
    background-color: #fff;
    width: 146px;
    border: 1px solid #B0BECA;
    max-height: 350px;
    overflow-x: hidden;
  }
  .ui-autocomplete .ui-menu-item {
    border-top: 1px solid #B0BECA;
    display: block;
    padding: 4px 6px;
    color: #353D44;
    cursor: pointer;
  }
  .ui-autocomplete .ui-menu-item:first-child {
    border-top: none;
  }
  .ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: #D5E5F4;
    color: #161A1C;
  }

  .selector {
    width: 100%;
}
/* End of styling */

.nocell {
    margin-bottom:15px;
    padding:5px;
}

.navbar {
    background-color: white;
    outline: black;
}
.navbar-brand{
    background-color:white;
}

.navbar-brand h1{
    color:white;
    font-size: 24px;
    padding: 5px;
    font-weight: bold;

}

#dropdownMenuButton{
    background-color:black;
    color: #6c757d;
    border-color:black;
    float:right;

}

.navbar-links{
    color:  #6c757d;
    margin-left: 15px;
    float: right;
}

.navbar-data-links{
    color:  #6c757d;
    margin-left: 15px;
    float: left;
}

a:hover, #dropdownMenuButton:hover{
    color: maroon;
    text-decoration: none;
  }

.row {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.bi {
    vertical-align: bottom;
}

.white{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

.m-4 {
    margin: 20 !important;
  }

.white-header{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}


.viz{
    width: 100%;

}

.border{
    border: 3px solid maroon !important;
}

.page-header{
    color: maroon;
    font-size: 28px;
    margin-top: 10px;
    background-color: white;
}

.graph-left{
    float:left;
}

p{
    line-height: 1.5em;
}

.picture-link{
    margin-left: 20px;
    margin-bottom:20px;
}

.pic-header{
    color: maroon;
    font-size: 20px;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    color: maroon;
}
  th {
      text-align:left;
      color: maroon;
      padding:8px;
      border-bottom: solid maroon 3px;
      border-top:none;
      border-left:none;
      border-right:none
  }

  td {
    border-bottom:solid #e8cec9 2px;
    text-align: left;
    border-left:none;
    border-right:none;
    border-top: none;
    padding: 8px;
  }

  .glyphicon{
      color:black;
  }

  .hamburger{
      display:none;
      color:black;
  }

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
#us-cloropleth{ 
    min-width: 750px;
    min-height: 750px;
    padding-bottom: 20px;
}
#total-county-cloropleth{ 
    width: 95%;
    height: 95%;
    min-width: 700px;
    min-height: 700px;
  }
#collapsed-container {
    display:none;
}

#state-name-box {
    height: 724px;
    overflow-y: auto;
}
#total-cases-banner{
    min-width:150px;
}
#state-selector-box{
    min-width:150px;
}
#top-cases-counties{
    width: 95%;
    height: 95%;
}
#top-death-counties{
    width: 95%;
    height: 95%;
}
#top-ten-us-counties{
    width:95%;
    height:95%;
}
#case-timeseries{
    width:95%;
    height:95%;
}
#death-timeseries{
    width:95%;
    height:95%;
}
#honeycomb-difference-table{
    width:95%;
    height:95%;
}
#data-reliability-score{
    width:95%;
    height:95%;
}
#nyt-country-honeycomb{
    width:95%;
    height:95%;
}
#atl-country-honeycomb{
    width:95%;
    height:95%;
}

.no-pad{
    padding:5px;
    margin-bottom:15px;
}

  @media (max-width: 1000px) {
      .hamburger{
          display: flex;
          color: black;
      }
      .navbar{
          background-color: white !important;
          padding:0px;
      } 
      .navbar-brand{
          color:rgb(83, 83, 83) !important;
          background-color: white;
          font-weight: bold;
          font-family: "Montserrat","Segoe UI","Helvetica Neue", Arial, sans-serif;
          padding:20px
      }

      .navbar-toggler{
          margin-right:20px;
          color: black;
      }

      .navhead{
          background-color:white !important;
      }

      navbar-toggler-icon{
          width: 1em;
          height:1.25em;
          color:black !important;
      }

      .dropdown-menu{
          background-color: black;
          border:none;
      }
      .navbar-collapse{
          background-color: white;
      }

      .navbar-light, .navbar-toggler{
          border-color:black !important;
          color: black;
      }

      .nav-item{
          padding-left: 15px;
      }

      .nav-item:hover, .nav-link:hover{
        color: maroon !important;
        text-decoration: none;
      }

      .nonburger{
          display: none;
      }
      #map-tips-banner{
        display: none !important;
    }
    #fix-container{
        display:none;
    }
    #data-reliability-box{
        display:none;
    }
  }

  @media (min-width: 1000px){
      .cell{
          display:none;
      }
      #data-reliability-small{
          display:none;
      }

  }
  
/* CSS from the Leaflet-Choropleth documentation */
.legend {
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #555;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  .legend ul {
    padding: 0;
    margin: 0;
    clear: both;
    list-style-type: none;
  }
  .legend li {
    display: inline-block;
    width: 30px;
    height: 22px;
  }
  .legend .min {
    float: left;
    padding-bottom: 5px;
  }
  .legend .max {
    float: right;
  }
  .ui-helper-hidden-accessible {
    display: none;
}
#card-group{
    display: flex;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }